.login_box {
  background: rgb(2, 6, 23);
  background: linear-gradient(
    90deg,
    rgba(2, 6, 23, 1) 5%,
    rgba(0, 99, 116, 1) 36%,
    rgba(2, 6, 23, 1) 100%
  );
}

.login_right_box {
  background: rgb(0, 99, 116);
  background: linear-gradient(
    90deg,
    rgba(0, 99, 116, 1) 28%,
    rgba(2, 6, 23, 1) 99%
  );
}

.logo_text {
  font-family: "Arial Black", Arial, sans-serif;
}
